<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Siswa</title>
</head>
<body>
    <h1>Selamat datang, Siswa <%= user.nama %></h1>
    <p>NIS: <%= siswa.nis %></p>
    <p>Gender: <%= siswa.gender %></p>
    <a href="/logout">Logout</a>
</body>
</html>